.root {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-padding: 20px ;
}

.label {
    -fx-font-family: Verdana;
    -fx-font-size: 20px;
    -fx-text-weight: bold;
}

#info-label{
    -fx-text-fill: white;
}

#end-game {

    -fx-font: 53px Tahoma;
    -fx-text-fill: red;
    -fx-background-color: blue;
    -fx-border-width: 5;
    z-index: -1;
    position: relative;
}

#end-game .text {
    -fx-stroke: yellow;
    -fx-stroke-width: 4px;
    -fx-font-weight: bold;
    -fx-border-insets: 5,5;
    -fx-end-margin: 3;
    -fx-start-margin: 3;

}


#invis-button {
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-end-margin: 3;
    -fx-start-margin: 3;
    -fx-alignment: center;
}

#bet-button {
    -fx-min-height: 75;
    -fx-min-width: 75;
}

.amountWonLabel {
    -fx-border-insets: 200;
}


#odds-grid {

}


#odds-grid .text {

}

#win-table-text {
    -fx-label-padding: 3 40 3 3 ;
}

.wintable-win {
    -fx-text-fill: white ;

}

.wintable-handvals {
    -fx-text-fill: yellow;

}

#odds-grid {
    -fx-font: 15px Verdana;
    -fx-background-color: red;
    -fx-border-insets: 3 10 3 3 ;
}

.odds-grid-cell {
    -fx-background-color: yellow, darkblue;
    -fx-background-insets: 0, 0 2 0 2 ;
}

.odds-grid-cell.first-row {
    -fx-background-insets: 0, 2 2 0 2 ;
}

.odds-grid-cell.last-row {
    -fx-background-insets: 0, 0 2 2 2;
}