.root {
    -fx-padding: 20 ;
    cell-color: white ;
    cell-border-color: yellow ;
}

.label {
    -fx-font-family: Verdana;
    -fx-font-size: 20px;
    -fx-text-weight: bold;
}

#end-game {
    -fx-font: 53px Tahoma;
    -fx-text-fill: red;
    -fx-background-color: darkblue;
    z-index: 999;
}

#end-game .text {
    -fx-stroke: yellow;
    -fx-stroke-width: 4px;
    -fx-font-weight: bold;
    -fx-border-insets: 5,5;
    -fx-end-margin: 3;
    -fx-start-margin: 3;

}

.fadeTransition {
    -fx-animated: true;
    /*-fx-anima;*/
    /*fadeTransition.setFromValue(100);*/
    /*fadeTransition.setToValue(0);*/
    /*fadeTransition.setByValue(0.0);*/
    /*fadeTransition.setCycleCount(Animation.INDEFINITE);*/
}

#invis-button {
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-end-margin: 3;
    -fx-start-margin: 3;
    -fx-alignment: center;
    /*-fx-border-color: transparent;*/
    /*-fx-border-width: 0;*/
    /*-fx-background-radius: 0;*/
    /*-fx-background-color: transparent;*/
}

#bet-button {
    -fx-min-height: 75;
    -fx-min-width: 75;
}

.amountWonLabel {
    -fx-border-insets: 200;
}


#odds-grid .grid {
    /* 1 pixel border around the top and right of the grid: */
    -fx-background-color: cell-border-color, cell-color ;
    -fx-background-insets: 0, 1 1 0 0 ;
    -fx-padding: 1 ;
    -fx-alternative-column-fill-visible: pink ;
}

#odds-grid {
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-background-color: pink;
    -fx-background-insets: 0, 0 0 1 1 ;
}

#invisible {
    visibility: hidden;
}

#odds-text {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font: 12px Verdana;
    -fx-start-margin: 5;
    -fx-end-margin: 5;
}

#odds-hands {
    -fx-text-fill: yellow;
    -fx-font: 12px Verdana;
}